.category-card {
  background: #5fd4cf; /* rosa bem clarinho, elegante */
  border: 2px solid  #00096e; /* roxo para contrastar */
  border-radius: 20px;
  text-align: center;
  padding: 30px;
  box-shadow: 0 6px 15px rgba(74, 79, 135, 0.2); /* sombra roxa suave */
  transition: transform 0.2s;
}

.category-card:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 2rem;
  color: #D58A9F; /* rosa principal */
}

.category-card h3 {
  font-family: "Playfair Display", serif;
  color: #4A4F87; /* roxo da paleta, mais bonito que o marrom antigo */
  margin-top: 10px;
}
