.quote {
  text-align: center;
  margin-top: 60px;
  font-style: italic;
  color: #4A4F87; /* roxo principal */
  font-family: "Playfair Display", serif;
}

.quote span {
  display: block;
  margin-top: 8px;
  color: #5fd4cf; /* rosa da paleta */
}
