.search-bar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 40px auto;
  max-width: 600px;
}

.search-bar input {
  flex: 1;
  padding: 12px 15px;
  border: 2px solid #4A4F87; /* roxo */
  border-radius: 12px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #4A4F87; /* texto roxo */
}

.search-bar input::placeholder {
  color: #5fd4cf; /* rosa suave */
}

.search-bar button {
  background: #5fd4cf; /* rosa da paleta */
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 12px 18px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.2s ease;
}

.search-bar button:hover {
  background: #5fd4cf; /* roxo no hover */
}
