:root {
  /* Fundo com rosa + verde */
  --main-bg: linear-gradient(135deg, #fbe3eb, #C6DA83);

  /* Rosa principal */
  --accent: #D58A9F;

  /* Texto roxinho */
  --text: #4A4F87;

  /* Sombra roxa */
  --shadow: 0 6px 18px rgba(74, 79, 135, 0.25);
}

body {
  margin: 0;
  background: var(--main-bg);
  color: var(--text);
  font-family: "Poppins", sans-serif;
}
